
.body_light{
    background-color: #c3e3f8;
    color: #000;
}
.body_dark{
    background-color: #224659;
    color: #fff;
}

/* navBar */

.mode_img{
    width: 25px;
    height: 25px;
    margin: 0 20px;
}

.container-fluid{
    justify-content: space-between;
}
.side_container{
    width: fit-content;
}
.side_container a{
    cursor: pointer;
}


@media only screen and (min-width: 987px) {
    .navbar-toggle{
        border: 2px solid red;
    }
}


/* Home section */
.mainHeadline{
    display: flex;
    flex-wrap: wrap;
}
.main_text{
    margin: 0 10px ;
    display: flex;
    flex-wrap: nowrap;
}
.main_text span,
.main_text p{
    font-size: 5.5rem !important;
}
.svg_container{
    height: 40rem;
}
.svg_img{
    height: 100%!important;     
    width: auto;  
    z-index: -10;
}
@media only screen and (max-width: 767px) {
    .main_text span,
    .main_text p{
        font-size: 4.5rem !important;
    }
    .svg_img{
        border: 0px solid black; 
    }
    .row{
        flex-direction: column;
    }
}

@media only screen and (max-width: 575.95px) {
    .main_text span,
    .main_text p{
        font-size: 2.5rem !important;
    }
    .svg_container{
        height: 30rem;
    }
    .top-50 {
        top: 40% !important;
      }
    .start-50 {
        left: 40% !important;
      }
    .svg_img{
        height: 100%!important;
        width: auto;    
    }
}
@media only screen and (max-width: 425px) {
    .svg_container{
        height: 22rem;
    }
    .top-50 {
        top: 35% !important;
      }
    .start-50 {
        left: 35% !important;
      }
    .svg_img{
        height: 100%!important;
        width: auto;    
    }
}



    .text {
        display: inline-block;
        width: fit-content;
        margin: 0;
        font-size: 8rem;
        /* line-height: 7rem; */
        height: 100px;
        transition: all 0.3s ease-out;
        font-weight: 1000;
        color: rgb(44, 44, 44);
        z-index: 0;
        /* font-family: "Open Sans", sans-serif; */
        /* transform: scale3d(0.75, 1, 1) */
        /* animation: rubberBand 1s ; */
    }
    .shadowCh{
        text-shadow: 6px 6px 0 #796fff;
    }

    /* .dubleBack{
        position: relative !important;
        z-index: -2;
        width: 0px;
        top: 5px;
        right: 60px;
        color: blueviolet;
    } */
    .text:hover {
        color: #796fff;
        z-index: 2;
    }

    @keyframes rubberBand {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1)
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1)
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1)
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1)
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1)
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1)
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1)
        }
    }

    @media only screen and (max-width: 425px) {
        .text{
            height: 56px;
        }
        .shadowCh{
            text-shadow: 3px 3px 0 #796fff;
        }
    }
    @media only screen and (max-width: 553px) {
        .text{
            height: 46px;
        }
    }


    .rubberBand {
        /* -webkit-animation-name: rubberBand; */
        animation: rubberBand 1s;
        transition: color 0.1s ease-in-out;
    }





/* Skills section  */


.circle{
    position: absolute;
    top: 600px;
    left: -150px;
    height: 300px;
    width: 300px;
    background-color: rgba(111, 103, 229, 0.406);
    border-radius: 50%;
    z-index: -50;
}
#Skills{
    margin-top: 50px;
    transition: all 2s eease-in-out;
}
.SkillContainer{
    display: flex;
    flex-direction: column;
    background: rgb(129 207 255 / 39%);
    border-radius: 30px;
    padding: 20px;
    backdrop-filter: blur(10px);
}
.headLineSkill{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(0, 157, 255);
}

.Skills{
    /* border: 2px solid red; */
    padding:  20px 0;
    display: flex;
    flex-wrap: wrap;
}
.s_card{
    height: 30px;
    width: 48%;
    margin: 15px 5px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(150 219 255 / 19%);
}
.skill_light{
    background-color: rgb(255, 255, 255);

}
.skill_dark{
    background-color: rgb(34 70 89 / 74%);

}
.s_card_l{
    height: 100%;
    margin: 0 0;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
    /* animation: skillUp 2s linear ; */
    /* transition: width 2s linear; */
}
.s_card_name{
    height: 70%;
    /* width: ; */
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.s_card_l_in{
    height: 100%;
    margin: 0 0;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
    animation: skillUp 2s linear ;
}
@keyframes skillUpper {
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 1;
    }
}
@keyframes skillUp {
    0%{
        opacity: 0.2;
        width: 15%;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 100%;
    }
}
.s_card_name p{
    color: aliceblue;
    margin: 0;
    font-weight: bold;
}
.s_card_per{
    height: 70%;
    /* width: ; */
    padding: 9px;
    margin: 0 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    animation: skillUpper 0.5s linear ;

}
.s_card_per p{
    /* color: rgb(0, 0, 0); */
    /* text-shadow: 0 0 10px rgba(134, 134, 134, 0.534); */
    text-shadow: 0 0 10px rgb(214 212 209);
    font-weight: bold;
    margin: 0;
}


@media only screen and (max-width: 767px) {
    .s_card{
        width: 100%;
    }
}



/* project */

.left_Text_site{
    text-align: end;
}
@media only screen and (max-width: 767px) {
    .left_Text_site{
        text-align: start;
    }
}



/* contact me */
#ContactMe{
    margin-top: 15px;
}
.inputBox input,.inputBox textarea{
    border: none;
    outline: none;
    padding: 12px 0;
}

/* Footer  */

#footer{
    display: flex;
    flex-direction: column;
    /* border: 2px solid #796fff; */
    margin: 20px 0 0 0 ;
    padding: 50px 10px 10px 0;
    background-color: rgb(169 219 251);
    border-radius: 20px 20px 0 0;
}
.upFooter{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.downFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.downFooter div div p i{
    height: 30px;
    width: 30px;
    /* background: rgb(255, 45, 45); */
}
.SkillBox{
    display: block;
    width: fit-content;
    padding: 2px 15px;
    margin: 2px;
    border-radius: 4px;
    background-color: #6fc4e5;
}
.skillBoxName{
    font-weight: 600;

}
.copyright{
    display: flex;
    align-items: center;
    padding: 0 22px ;
}
.FSkills .contant .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:max-content;
    flex-direction: row;
}

@media only screen and (max-width: 767px) {
    .FContact{
        display: none;
        border: 2px solid black;
        background-color: #796fff;
    }
    .upFooter{
        font-size: 0.8rem;
        flex-wrap: wrap;
    }
    .downFooter .flex-row p i{
        font-size: 1rem;
    }
}
