/* accordion style : start */



.accordionBox{
    display: grid;
    border-radius: 30px;
    /* background-color: #A555EC; */
    background-color: #8448b9;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.accordionHeading{
    text-align: center;
    margin-top: 1rem;
    color: white;
}

.accordion-container{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    margin: 0rem 20rem 1rem;
}


.question-box{
    display:flex;
    justify-content: space-between;
    align-content: center;
    margin: 8px;
}

.question-box span {
    color: rgb(255, 255, 255);
    display: grid;
    justify-items: center;
    align-items: center;
}

.accordion-answer{
    margin: 0 12px;
    transform: translateY(-10px);
    color: rgb(210, 198, 198);
}


/* media query : start */
@media(min-width: 768px) and (max-width: 1024px){
    .accordion-container{
        border: 1px solid white;
        border-radius: 15px;
        color: white;
        margin: 0rem 8rem 1rem;
    }
}

@media (min-width: 451px) and (max-width: 768px){
    .accordion-container{
        border: 1px solid white;
        border-radius: 15px;
        color: white;
        margin: 0rem 3rem 1rem;
    }
}

@media(max-width: 450px) and ( min-width: 100px){
    .accordion-container{
        border: 1px solid white;
        border-radius: 15px;
        color: white;
        margin: 0rem 3rem 1rem;
    }
}
/* media query : end */

/* accordion style : end */

/* 
css grid system
 for div use content 
 display: grid;
 justify = horizontal
 align = vertical


 for items inside div use item 

css flex box there is no justify-items avaliable
only justify-content avaliable

justify-self overwrite property of justify-items
 */  