* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
}

/* show more arrow project section : start */
.arrow {
  color: rgb(67, 51, 51);
  font-size: 3em;
  /* white-space: nowrap; */
  position: absolute;
  right: 0;
  left: 0;
  bottom: 50px;
  margin: auto;
  width: 40px;
  height: 40px;
  /* -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out; */
  transition: all 750ms ease-in-out;
}
.lift{
  bottom: 70px;
}
/* show more arrow project section : end */

