* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
}

/* show more arrow project section : start */
.arrow {
  color: rgb(67, 51, 51);
  font-size: 3em;
  /* white-space: nowrap; */
  position: absolute;
  right: 0;
  left: 0;
  /* bottom: 50px; */
  margin: auto;
  width: 40px;
  height: 40px;
  animation: upDwon 0.8s ease-out infinite alternate;
  -webkit-animation: upDwon 0.8s ease-out infinite alternate;
  -moz-animation: upDwon 0.8s ease-out infinite alternate;
  -ms-animation: upDwon 0.8s ease-out infinite alternate;
  -o-animation: upDwon 0.8s ease-out infinite alternate;  
 /* transition: all 750ms ; */
}


@keyframes upDwon{
  0%{
    bottom: 50px;
  }
  100%{
    bottom: 30px;
  }

}

@media only screen and (min-width: 767px) {
  @keyframes upDwon{
    0%{
      border: 2px solid rgb(0, 255, 255);
      bottom: -30px;
    }
    100%{
      /* border: 2px solid red; */
      bottom: -10px;
    }
  
  }
}

@media only screen and (min-width: 575.95px) {
  @keyframes upDwon{
    0%{
      border: 2px solid red;
      bottom: -60px;
    }
    100%{
      border: 2px solid red;
      bottom: -40px;
    }
  
  }
}









.lift{
  bottom: 70px;
}
/* show more arrow project section : end */

