/* contact component css : start */

body {
  background-color: #f2faff;
}

.contact-box{
  background: rgb(129 207 255 / 39%);
  border-radius: 30px;
}

.inputBox {
  position: relative;
}

.inputBox input,
.inputBox textarea {
  border-radius: 20px;
  width: 80%;
  font-size: 1.3em;
  padding: 3px; 
  
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 1em;
  padding-left: 65px;
  padding-top: 10px;
  
  text-transform: uppercase;
  transition: 0.4s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: white;
  border-left: 1px solid rgb(181, 153, 153);
  border-right: 1px solid rgb(181, 153, 153);
  
}

.submitBtn{
  border-radius: 30px;
  width: 80%;
}

.social-icons{
  margin: 0 10px 0 0;
  font-size: 2em;
}


@media(max-width: 320px){
  .contact-section{
    padding-left: 25px !important;
  }
}
@media(min-width: 375px){
  .contact-section{
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media(min-width: 425px){
  .contact-section{
    padding-left: 29px !important;
  }
}
/* contact component css : end */
