/* contact component css : start */

body {
  background-color: #f2faff;
}

.contact-box{
  background: rgb(129 207 255 / 39%);
  border-radius: 30px;
}

.inputBox {
  position: relative;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  font-size: 1em;
  padding: 3px; 
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 1em;
  padding-left: 15px;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: white;
  border-left: 1px solid rgb(181, 153, 153);
  border-right: 1px solid rgb(181, 153, 153);
}


.social-icons{
  margin: 0 10px 0 0;
}
/* contact component css : end */
